[submodule "Install Ukrainian Unicode Layout.app/Contents/Resources/Layout/Layout/Ukrainian Unicode Layout.bundle"]
	path = Install Ukrainian Unicode Layout.app/Contents/Resources/Layout/Ukrainian Unicode Layout.bundle
	url = https://github.com/korzhyk/Ukrainian-Unicode-Layout
